<head>
    <title>Welcome to Rankr</title>
    <link rel="stylesheet"  href="/stylesheets/login_style.css">
</head>
<body>
  <nav>
  </label>
  <label class="logo">Rankr</label>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="Login/login.html">Login</a></li>
    <li><a href="#">Register</a></li>
  </ul>
</nav>

<div id="content_container">
    <div id="form_container">
        <div id="form_header_container">
            <h2 id="form_header"> Welcome to Rankr </h2>
        </div>
        <div id="form_content_container">
            <div id="form_content_inner_container"> 
<form action="/register" method="POST">
    <div id="form_content_container">
        <div id="form_content_inner_container">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"  placeholder="Password" required>
    <a href="/login">Already have an account?</a>
    <div id="button_container">
    <button type="submit">Register</button>
</div>
</form>
</div>  
</div>
</div>
</div>
</body>