*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  nav{
    background: #9897a9;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }
  a.active,a:hover{
  background: white;
      color: #4d4c5c;
      border: 1px solid #4d4c5c;
      cursor: pointer;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  body{
      margin: 0px;
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  #tier-list{
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 50%;
      height: 80vh;
      background-color: #232023;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      margin-left: auto;
      margin-top: 20px;
  }
  
  .row{
      display: flex;
      width: 100%;
      height: 13%;
      background-color: #59515E;
  }
  
  .label{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100px;
      background-color: aqua;
  }
  
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100px;
    background-color: white;
    font-size: 50px;
  }
  .description{
    width: 50vw;
    height: auto;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .list-name, .list-creator{
    width: 50vw;
    height: auto;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 5px;
  }
  #list-info, .inventory{
    margin: auto;
    width: 50%;
  }
  .utility{
    margin:auto;
    margin-top:20px;
    margin-bottom:30px;
    
    width:50%;
    display:inline-block;
  }
  .u-button{
    background: #4d4c5c;
    color: white;
    border: 0px;
    border-radius: 6px;
    padding: 15px;
    display: inline-block;
    width: 20%;
  }
  .u-button:hover{
    background: white;
    color: #4d4c5c;
    border: 1px solid #4d4c5c;
    cursor: pointer;
  }

#inventory{
  display: flex;
      margin: auto;
      flex-direction: row;
      width: 50%;
      height: auto;
      min-height: 100px;
      background-color: #232023;
      align-items: right;
      justify-content: flex-start;
      padding: 5px;
      margin-left: auto;
      margin-top: 20px;
}